// Specific CSS for your home-page
.row_main {

  text-align: center;
  margin-right: 3px;
}

.terms {

  font-weight: lighter;
  color: grey;
}

.img_main_logo {

  margin-top: 150px;
  margin-right: 5px;
}

.img_main_log_out {

  margin-top: 20px;
}


.facebook_button {

  margin: 20px;
}

.sign_up_button {

  margin: 10px;
}


.sub_header_main {

  font-weight: lighter;
  color:grey;
}

.header_main {

  margin-bottom: 25px;
}

ul {

  list-style: none;
}
