// Specific CSS for your home-page
.row_main {

  text-align: center;
  margin-right: 3px;
}

.terms {

  font-weight: lighter;
  color: grey;
}

img {

      padding-top: 10px;
}


.facebook_button {

  margin-bottom: 10px;
}


.sub_header_main {

  font-weight: lighter;
  color:grey;
}
