.profile_header {

  text-align:center;
}

.row_profile {

  width: 400px;
  margin-left: 350px;
}

.your_dog {

  width: 750px;
}

.dog_name_list {

  font-size: 32px;
  display: flex;
}

.accepted_status {
  font-variant: small-caps;
  font-weight: bolder;
  color: #32b796;
  font-size: 28px;
}

.pending_status {
  font-variant: small-caps;
  font-weight: bolder;
  color: black;
  font-size: 28px;
}
