.profile_header {

  text-align:center;
}

.row_profile {

  width: 400px;
  margin-left: 350px;
}

.your_dog {

  width: 750px;
}

.dog_name_list {

  font-size: 32px;
  display: flex;
}

.accepted_status {

  color: green;
}
