<h1 class="all_dogs_header">All Dogs</h1>
<ul class="list_dogs_names">
  <% @dogs.each do |dog| %>
  <li>
    <%= link_to dog.name, bookings_path(dog), method: :post %>
  </li>
  <% end %>
</ul>
<!-- <div class="container">
  <div class="row">
    <% @dogs.each do |dog| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path dog.photo.path %>')">
        <div class="card-category"></div>
        <div class="card-description">
          <%= link_to dog.name, bookings_path(dog), method: :post %>
        </div>
      </div>
      <% end  %>
    </div>
  </div>
</div> -->
