<h1 class="all_dogs_header">All Dogs</h1>
<div class="container">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path dog.photo.path %>')">
          <div class="card-description">
            <h2><%= "#{dog.name}"  %></h2>
          </div>
          <div class="card-link"></div>
          <div class="text-behind">
            <%= dog.description %>
          </div>
        </div>
        <div class="input-group date" data-provide="datepicker">
          <input type="text" class="form-control">
          <div class="input-group-addon"></div>
        </div>
        <%= button_to 'Borrow this dog', bookings_path(dog), :method => :post, :class=>"ui-button-text button_text" %>
        <br>
      </div>
    <% end %>
  </div>
</div>
