 <div class="col-xs-12 col-sm-4 col-md-4 dog-card-wrapper">
    <div class="dog-card">
      <div class="dog-image">
        <%= button_to "Book a dog", dogs_path, method: :get, class: "btn btn-success rent_dog_button" %>
      </div>
    </div>
  </div>
