<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://uvhvets.com/wp-content/uploads/2017/07/dog_park_2.jpg');">
  <div class="banner-content">
    <%# image_tag "borrow_dog_logo.png", class: "logo"%>
    <h1 class="banner-header">
      Dogs'R'Us
    </h1>
    <p> Borrow a dog in 3 easy steps </p>
    <br>
    <%= link_to "Go to Profile", profile_path, :class => "profile_button btn btn-primary" %>
  </div>
</div>
