<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://via.placeholder.com/350x150');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%= dog.name %></h2>
  </div>
  <img class="card-user" src="http://via.placeholder.com/150x150">
  <a class="card-link" href="#" ></a>
</div>
