

<div id="modal-wrapper">
  <div id="modal">
    <h2> Give your dog a review</h2>
    <%= button_to 'Return dog', cancel_booking_path(booking), method: :patch, class: 'btn btn-default' %>
    <button onClick="toggleModal()">Close</button>
  </div>
</div>
