<% if registration_signed_in? %>
<%= render 'shared/banner_login'  %>
    <% else %>
    <%= render 'shared/banner_logout'  %>
    <div class="container">
      <div class="row_main">
    <div class="col-xs-12 col-sm-6 col-md-offset-3">
      <%# image_tag "paw-print-logo.svg", height: 200, :class => "img_main_log_out" %>
      <h1 class="header_main">
      Dogs make us happy
      </h1>
      <h3 class="sub_header_main">
      Borrow one in two easy steps
      </h3>
      <br>
      <%= link_to "Walk a dog!", new_registration_registration_path, :class => "sign_up_button btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
